<h2 class="navbar-brand title">Porto Recanati</h2>

<div class="container-video">
  <video autoplay loop [volume]="0" class="video" src="../assets/VIDEOp.mp4">
    Questo video non è supportato nel tuo browser
  </video>
</div>

<h2 id="primo">La città oggi...</h2>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-3">
      <img
        src="../assets/castelloSvevo.jpg"
        class="img-fluid arche"
        alt="Il Castello Svevo"
        width="250"
        height="200"
      />
      <p>
        Per un tuffo nella storia, dalla centralissima piazza di Porto Recanati,
        potrete salire sulla torre del medievale
        <b>Castello Svevo</b>
        per ammirare la bellezza del mare e delle colline circostanti, fino al
        Monte Conero.
      </p>
    </div>
    <div class="col-sm-3">
      <img
        src="../assets/areaArcheologica.jpg"
        class="img-fluid arche"
        alt="Area archeologica"
      />
      <p>
        In Località S. Maria di Porto Recanati si trova l’importante area
        archeologica dell’antica <b>Potentia</b>, fondata nel 184 a.C.. Sono
        visibili i resti di una domus con pavimenti musivi e pareti affrescate,
        i portici del foro con le annesse tabernae e un tempio su alto podio che
        ha restituito numerose terrecotte architettoniche.
      </p>
    </div>

    <div class="col-sm-3">
      <img
        src="../assets/toronto.jpg"
        class="img-fluid arche"
        alt="La costa del borgo marinaro"
      />
      <p>
        Sul lungomare pedonabile che costeggia il litorale si affacciano le
        <b>tipiche casette colorate dei pescatori</b> del borgo marinaro che vi
        rimarrà impresso a lungo nel cuore per i colori vivaci e solari, per le
        atmosfere, gli odori e i suoni legati ad un’esistenza dominata dalla
        presenza del mare.
      </p>
    </div>
    <div class="col-sm-3">
      <img
        src="../assets/spiaggaPR.jpg"
        class="img-fluid arche"
        alt="Eventi estivi"
      />
      <p>
        <b>Eventi per tutti i gusti!</b> Un ricco ventaglio di opportunità da
        vivere in compagnia tra Festival, Rievocazioni Storiche, Concerti, Sagre
        e Mostre d’Arte.
      </p>
    </div>
  </div>
</div>

<h2 id="secondo">... e com'era una volta</h2>

<br />
<br />

<div class="container">
  <div class="main-timeline">
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">24 Aprile</span>
            <span class="year">2013</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Riconoscimento a città</h5>
        <p class="description">
          Il 24 aprile 2013 con decreto del presidente della repubblica a Porto
          Recanati viene riconosciuto il titolo di Città. Lo stemma e il
          gonfalone della Città di Porto Recanati sono stati concessi con D.P.R.
          del 10 febbraio 2015.
        </p>
      </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">14 Dicembre</span>
            <span class="year">1906</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Cementificio Scarfiotti</h5>
        <p class="description">
          Una zona recentissima ma veramente particolare è il coloratissimo
          Borgo Marinaro, riqualificazione dell’are dove sorgeva il cementificio
          Scarfiotti, dal nome del Avv. Lodovico Scarfiotti, che ne decise di
          costruire il cementificio nel 1906, insieme a Enrico Volpini e
          all’Ing. Giuseppe Moro
        </p>
      </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">15 Gennaio</span>
            <span class="year">1893</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Passaggio a comune autonomo</h5>
        <p class="description">
          Fino al 15 gennaio 1893, Porto Recanati era parte integrante
          dell’antico Comune di Recanati, che dista circa 12 Km. Ma, negli anni,
          la popolazione del PORTO, come viene chiamato dalla gente del luogo
          Porto Recanati, divenne molto numerosa, per cui fu chiesta l’Autonomia
          e il paese divenne Comune autonomo nel 1893.
        </p>
      </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">XVI secolo</span>
            <span class="year">1229</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Castello Svevo</h5>
        <p class="description">
          L’origine del Castello Svevo, costruito per difendere la popolazione
          dagli attacchi dei pirati e dei Turchi, presenta ancora incertezze
          sulle date esatte. Alcuni storici sostengono che sia stato costruito
          nel 1229, quando Federico II di Svevia donò i terreni su cui sorge al
          comune di Recanati, mentre altri lo collocano alla fine del periodo
          medievale.
        </p>
      </div>
    </div>
    <!-- end experience section-->
  </div>
</div>
